.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  background-color: #f0eadb;
  inset: 0;

  &, &:after {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }

  &:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #facece;
    content: '';
    inset: 5px;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  &_2 {
    background-color: #eadcb8;
  }

  &_4 {
    background-color: #f1d5a4;
  }

  &_8 {
    background-color: #dfc071;
  }

  &_16 {
    background-color: #dfa471;
  }

  &_32 {
    background-color: #df8a71;
  }

  &_64 {
    background-color: #df7671;
  }

  &_128 {
    background-color: #c35a5a;
  }

  &_256 {
    background-color: #c35a72;
  }

  &_512 {
    background-color: #7e5ac3;
  }

  &_1024 {
    background-color: #5a7ac3;
  }

  &_2048 {
    background-color: #60c35a;
  }

  &__value {
    font-size: 2em;
    font-weight: 700;
    color: #333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
