:root {
  --board-width: 500px;
}

.board {
  width: 500px;
  height: 500px;
  position: relative;

  &__cell {
    position: absolute;
    background-color: #eaeaea;
    inset: 0;
    margin: auto;
    transition: .3s ease-in-out;


   &, &:after {
     clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
   }

    &:after {
      position: absolute;
      inset: 2px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      content: attr(data-value);
    }
  }
}
